<section id="searchmap">
    <div id="indexmap" style="position: relative; overflow: hidden; transform: translateZ(0px); background-image: url('img/mapprototype.png'); background-color: rgb(0, 227, 223);"></div>
    <div class="container">

        <a id='postAd' href="#/postAd" class="postad"><span> <i class="fa fa-pencil"></i> Post Your Ad</span></a>

        <div class="searchcontianer" id="searchinner"> <a class="todayoffer"><span class="text1">Merry Christmas!</span><span class="text2">50% OFF</span></a>
            <h1 class="heading1">Search thousands of classifieds all in one place <span class="orange">AddHub </span> </h1>
            <form class="form-inline">
                <div class="btn-group" id="search-group">
                    <input type="text" id="keyword" name="keyword" value="" placeholder="Search Location" class="form-control mainserarch ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                    <select id="category" name="cagegory">
                        <option value="">All Categories</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Jobs">Jobs</option>
                        <option value="Computers">Computers</option>
                        <option value="Beauty">Beauty</option>
                        <option value="Hobbies">Hobbies</option>
                        <option value="Movies">Movies</option>
                        <option value="Health">Health</option>
                    </select>
                    <a href="#/list"><input type="button" id="searchmapbutton" name="search" value="Search" class="btn btn-orange tooltip-test mainserarchsubmit" data-original-title="" title=""></a>
                    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul></div>
            </form>
        </div>
    </div>
</section>





<div class="container mt20">
    <div class="seodetails">
        <h2 class="heading2"> AddHub - 3 Easy Steps.</h2>
    </div>
</div>
<!-- Steps-->
<div class="container">
    <div class="row">
        <ul class="steps">
            <li class="col-sm-4">
                <div class="step"><span class="stepcount">1</span><span>Select Category</span> <i class="fa fa-check-square-o pull-right"></i></div>
            </li>
            <li class="col-sm-4">
                <div class="step"><span class="stepcount">2</span><span>Post Ad</span> <i class="fa fa-edit pull-right"></i></div>
            </li>
            <li class="col-sm-4">
                <div class="step"><span class="stepcount">3</span><span>Promote It!</span> <i class="fa fa-credit-card pull-right"></i></div>
            </li>
        </ul>
    </div>
</div>

<!-- Directory Listing-->
<div class="container mt40">
    <h2 class="heading3">Directory Listing</h2>
    <div class="mt40">
        <ul class="row clearfix">
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <section class="directorylist">
                    <div><i class="fa fa-plane"></i><span class="directorytitle">Vehicle</span></div>
                    <ul class="list">
                        <li><a href="#/list">Aircraft</a></li>
                        <li><a href="#/list">Automotive Items &amp; Parts</a></li>
                        <li><a href="#/list">Boats &amp; Watercraft</a></li>
                        <li><a href="#/list">Cars</a></li>
                        <li><a href="#/list">Classic Cars</a></li>
                        <li><a href="#/list">Off Road Vehicles</a></li>
                        <li><a href="#/list">RV &amp; Motorhomes</a></li>
                        <li><a href="#/list">SUVs</a></li>
                        <li><a href="#/list">Utility &amp; Work Trailers</a></li>
                        <li><a href="#/list">Vans</a></li>
                    </ul>
                </section>
                <section class="directorylist">
                    <div><i class="fa fa-home"></i><span class="directorytitle">Fore Rent</span></div>
                    <ul class="list">
                        <li><a href="#/list">Apartments</a></li>
                        <li><a href="#/list">Commercial Lease</a></li>
                        <li><a href="#/list">Condos For Rent</a></li>
                        <li><a href="#/list">Houses For Rent</a></li>
                        <li><a href="#/list">Housing Wanted</a></li>
                        <li><a href="#/list">Mobile Homes For Rent</a></li>
                        <li><a href="#/list">Roommates</a></li>
                        <li><a href="#/list">Townhomes For Rent</a></li>
                    </ul>
                </section>
                <section class="directorylist">
                    <div><i class="fa fa-twitter"></i><span class="directorytitle">Pets</span></div>
                    <ul class="list">
                        <li><a href="#/list">Birds</a></li>
                        <li><a href="#/list">Cats</a></li>
                        <li><a href="#/list">Dogs</a></li>
                        <li><a href="#/list">Fish &amp; Reptile Pets</a></li>
                        <li><a href="#/list">Free Pets to Good Home</a></li>
                        <li><a href="#/list">Horses</a></li>
                        <li><a href="#/list">Livestock</a></li>
                        <li><a href="#/list">Other Pets</a></li>
                        <li><a href="#/list">Pet Services &amp; Stores</a></li>
                    </ul>
                </section>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <section class="directorylist">
                    <div><i class="fa fa-thumbs-o-up"></i><span class="directorytitle">Sevices</span></div>
                    <ul class="list">
                        <li><a href="#/list">Automotive Services</a></li>
                        <li><a href="#/list">Beauty &amp; Salon Services</a></li>
                        <li><a href="#/list">Caregivers &amp; Baby Sitting</a></li>
                        <li><a href="#/list">Cleaning Services</a></li>
                        <li><a href="#/list">Construction &amp; Remodeling</a></li>
                        <li><a href="#/list">Financial Services</a></li>
                        <li><a href="#/list">Health &amp; Wellness</a></li>
                        <li><a href="#/list">Home Services</a></li>
                        <li><a href="#/list">Insurance</a></li>
                        <li><a href="#/list">Lawn &amp; Garden Services</a></li>
                        <li><a href="#/list">Training &amp; Education Services</a></li>
                        <li><a href="#/list">Marketing Services</a></li>
                        <li><a href="#/list">Health &amp; Wellness</a></li>
                        <li><a href="#/list">Moving &amp; Storage</a></li>
                        <li><a href="#/list">Office Services</a></li>
                        <li><a href="#/list">Real Estate Services</a></li>
                        <li><a href="#/list">Web Design &amp; Tech</a></li>
                        <li><a href="#/list">Weddings &amp; Photography </a></li>
                    </ul>
                </section>
                <section class="directorylist">
                    <div><i class="fa fa-users"></i><span class="directorytitle">Community</span></div>
                    <ul class="list">
                        <li><a href="#/list">Announcements</a></li>
                        <li><a href="#/list">Carpool</a></li>
                        <li><a href="#/list">Churches</a></li>
                        <li><a href="#/list">Free Stuff</a></li>
                        <li><a href="#/list">Garage Sales</a></li>
                        <li><a href="#/list">General Entertainment</a></li>
                        <li><a href="#/list">Items Wanted</a></li>
                        <li><a href="#/list">Lost &amp; Found</a></li>
                        <li><a href="#/list">Musicians &amp; Bands</a></li>
                        <li><a href="#/list">Volunteers</a></li>
                    </ul>
                </section>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <section class="directorylist">
                    <div><i class="fa fa-suitcase"></i><span class="directorytitle">Jobs</span></div>
                    <ul class="list">
                        <li><a href="#/list"> Accounting &amp; Bookkeeping Jobs</a></li>
                        <li><a href="#/list">Business Opportunities</a></li>
                        <li><a href="#/list">Cleaning Jobs</a></li>
                        <li><a href="#/list">Construction Work</a></li>
                        <li><a href="#/list">Creative Jobs</a></li>
                        <li><a href="#/list">Educational Jobs</a></li>
                        <li><a href="#/list">Financial &amp; Real Estate Jobs</a></li>
                        <li><a href="#/list">IT Jobs</a></li>
                        <li><a href="#/list">Labor Jobs</a></li>
                        <li><a href="#/list">Legal Jobs</a></li>
                        <li><a href="#/list">Management Jobs</a></li>
                        <li><a href="#/list">Marketing Jobs</a></li>
                        <li><a href="#/list">Medical Jobs</a></li>
                        <li><a href="#/list">Office Jobs</a></li>
                        <li><a href="#/list">Other Jobs</a></li>
                        <li><a href="#/list">People Seeking Jobs</a></li>
                        <li><a href="#/list">Restaurant Jobs</a></li>
                        <li><a href="#/list">Retail Jobs</a></li>
                        <li><a href="#/list">Sales Jobs</a></li>
                        <li><a href="#/list">Science &amp; Engineering Jobs</a></li>
                        <li><a href="#/list">Security &amp; Safety Jobs</a></li>
                        <li><a href="#/list">Skilled Trade Jobs</a></li>
                    </ul>
                </section>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <section class="directorylist ">
                    <div><i class="fa fa-dollar"></i><span class="directorytitle">Items for Sale</span></div>
                    <ul class="list">
                        <li><a href="#/list">Art &amp; Crafts</a></li>
                        <li><a href="#/list">Automotive Items &amp; Parts</a></li>
                        <li><a href="#/list">Bicycles</a></li>
                        <li><a href="#/list">Books &amp; Magazines</a></li>
                        <li><a href="#/list">Clothing &amp; Apparel</a></li>
                        <li><a href="#/list">Computers &amp; Electronics</a></li>
                        <li><a href="#/list">Farm &amp; Ranch</a></li>
                        <li><a href="#/list">Free Stuff</a></li>
                        <li><a href="#/list">Games</a></li>
                        <li><a href="#/list">Health &amp; Beauty Items</a></li>
                        <li><a href="#/list">Heavy Equipment</a></li>
                        <li><a href="#/list">Hobbies</a></li>
                        <li><a href="#/list">Household &amp; Furniture</a></li>
                        <li><a href="#/list">Jewelry</a></li>
                        <li><a href="#/list">Kids Stuff</a></li>
                        <li><a href="#/list">Lawn &amp; Garden</a></li>
                        <li><a href="#/list">Miscellaneous Items</a></li>
                        <li><a href="#/list">Movies &amp; DVDs</a></li>
                        <li><a href="#/list">Music &amp; CDs</a></li>
                        <li><a href="#/list">Musical Instruments</a></li>
                        <li><a href="#/list">Office &amp; Business</a></li>
                        <li><a href="#/list">Sports Equipment</a></li>
                        <li><a href="#/list">Tickets</a></li>
                        <li><a href="#/list">Tools</a></li>
                        <li><a href="#/list">Art &amp; Crafts</a></li>
                        <li><a href="#/list">Automotive Items &amp; Parts</a></li>
                        <li><a href="#/list">Bicycles</a></li>
                        <li><a href="#/list">Books &amp; Magazines</a></li>
                        <li><a href="#/list">Clothing &amp; Apparel</a></li>
                        <li><a href="#/list">Computers &amp; Electronics</a></li>
                        <li><a href="#/list">Farm &amp; Ranch</a></li>
                        <li><a href="#/list">Free Stuff</a></li>
                        <li><a href="#/list">Games</a></li>
                    </ul>
                </section>
            </li>
        </ul>
    </div>
</div>