<section id="searchmap">
    <div id="indexmap" style="position: relative; overflow: hidden; transform: translateZ(0px); background-image: url('img/mapprototype.png'); background-color: rgb(0, 227, 223);"></div>
    <div class="container">

        <a id='postAd' href="#/postAd" class="postad"><span> <i class="fa fa-pencil"></i> Post Your Ad</span></a>

        <div class="searchcontianer" id="searchinner"> <a class="todayoffer"><span class="text1">It's Halloween</span><span class="text2">50% OFF</span></a>
            <h1 class="heading1">Search thousands of classifieds all in one place <span class="orange">AddHub </span> </h1>
            <form class="form-inline">
                <div class="btn-group" id="search-group">
                    <!-- <input type="search" id="keyword" name="keyword" value="" placeholder="Search Location" class="form-control mainserarch">

        <select id="category" name="cagegory">
          <option value="">All Categories</option>
          <option value="Real Estate">Real Estate</option>
          <option value="Jobs">Jobs</option>
          <option value="Personal">Personal</option>
          <option value="Computers">Computers</option>
          <option value="Beauty">Beauty</option>
          <option value="Hobbies">Hobbies</option>
          <option value="Movies">Movies</option>
          <option value="Health">Health</option>
        </select>
        <input id="searchmap"  type="submit" value="Search" class="btn btn-orange tooltip-test mainserarchsubmit">-->

                    <input type="text" id="keyword" name="keyword" value="" placeholder="Search Location" class="form-control mainserarch ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                    <select id="category" name="cagegory">
                        <option value="">All Categories</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Jobs">Jobs</option>
                        <option value="Personal">Personal</option>
                        <option value="Computers">Computers</option>
                        <option value="Beauty">Beauty</option>
                        <option value="Hobbies">Hobbies</option>
                        <option value="Movies">Movies</option>
                        <option value="Health">Health</option>
                    </select>
                    <a href="list.html"><input type="button" id="searchmapbutton" name="search" value="Search" class="btn btn-orange tooltip-test mainserarchsubmit" data-original-title="" title=""></a>
                    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul></div>
            </form>
        </div>
    </div>
</section>





<div class="container mt20">
    <div class="seodetails">
        <h2 class="heading2"> AddHub - 3 Easy Steps.</h2>
        <p class="metadetails"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, <br>
            ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.</p>
    </div>
</div>
<!-- Steps-->
<div class="container">
    <div class="row">
        <ul class="steps">
            <li class="col-sm-4">
                <div class="step"><span class="stepcount">1</span><span>Select Category</span> <i class="fa fa-check-square-o pull-right"></i></div>
            </li>
            <li class="col-sm-4">
                <div class="step"><span class="stepcount">2</span><span>Post Ad</span> <i class="fa fa-edit pull-right"></i></div>
            </li>
            <li class="col-sm-4">
                <div class="step"><span class="stepcount">3</span><span>Promote It!</span> <i class="fa fa-credit-card pull-right"></i></div>
            </li>
        </ul>
    </div>
</div>
<!-- Services-->
<div class="container mt40" id="maincategory">
    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 940px; height: 138px; margin: -10px 0px -5px -15px; overflow: hidden;"><div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 21px; z-index: auto; width: 940px; height: 138px; margin: 0px; overflow: hidden;"><ul class="maincategory row" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 11px; margin: 0px; width: 5404px; height: 138px; z-index: auto;">

        <li style="margin-right: 12px;"><a href="http://www.pxcreate.com/bootstrap/classic/listing.html"> <i class="fa fa-building-o c11"></i> <br>
            <span class="direname">Furniture</span></a> </li><li style="margin-right: 12px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-lightbulb-o c17"></i> <br>
        <span class="direname"> Electronics</span></a> </li><li style="margin-right: 12px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-user c12"></i> <br>
        <span class="direname">Personals</span></a> </li><li style="margin-right: 12px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-home c1"></i> <br>
        <span class="direname">Real Estate</span></a> </li><li style="margin-right: 33px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-twitter c2"></i> <br>
        <span class="direname">Pets</span></a> </li><li style="margin-right: 12px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-thumbs-o-up c3"></i> <br>
        <span class="direname">Services</span></a> </li><li style="margin-right: 23px;"><a href="http://www.pxcreate.com/bootstrap/classic/listing.html"> <i class="fa fa-desktop c16"></i> <br>
        <span class="direname">Computers</span></a> </li><li style="margin-right: 12px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-suitcase c4"></i> <br>
        <span class="direname">Jobs</span></a> </li><li style="margin-right: 12px;"><a href="http://www.pxcreate.com/bootstrap/classic/listing.html"> <i class="fa fa-female c13"></i> <br>
        <span class="direname">Beauty</span></a> </li><li style="margin-right: 12px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-glass c10"></i> <br>
        <span class="direname">Hobbies</span></a> </li><li style="margin-right: 12px;"><a href="http://www.pxcreate.com/bootstrap/classic/listing.html"> <i class="fa fa-video-camera c6"></i> <br>
        <span class="direname">Movies</span></a> </li><li style="margin-right: 33px;"><a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-user-md c9"></i> <br>
        <span class="direname">Health</span></a> </li><li style="margin-right: 12px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-book c5"></i> <br>
        <span class="direname">Books</span></a> </li><li style="margin-right: 12px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-plane c7"></i> <br>
        <span class="direname">Vehicles</span></a> </li><li style="margin-right: 12px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-users c8"></i> <br>
        <span class="direname">Communities </span></a> </li><li style="margin-right: 12px;"><a href="http://www.pxcreate.com/bootstrap/classic/listing.html"> <i class="fa fa-cutlery c14"></i> <br>
        <span class="direname">Food</span></a> </li><li style="margin-right: 23px;"> <a href="http://www.pxcreate.com/bootstrap/classic/listing.html"><i class="fa fa-camera c15"></i> <br>
        <span class="direname">Cameras</span></a> </li></ul></div></div>
    <div class="clearfix"></div>
    <a id="prevcat" class="prevcarousal" href="http://www.pxcreate.com/bootstrap/classic/index.html#" style="display: block;">Previous</a> <a id="nextcat" class="nextcarosal" href="http://www.pxcreate.com/bootstrap/classic/index.html#" style="display: block;">Next</a> </div>
<!-- Directory Listing-->
<div class="container mt40">
    <h2 class="heading3">Directory Listing</h2>
    <div class="mt40">
        <ul class="row clearfix">
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <section class="directorylist">
                    <div><i class="fa fa-plane"></i><span class="directorytitle">Vehicle</span></div>
                    <ul class="list">
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Aircraft</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Automotive Items &amp; Parts</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Boats &amp; Watercraft</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Cars</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Classic Cars</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Off Road Vehicles</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">RV &amp; Motorhomes</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">SUVs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Utility &amp; Work Trailers</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Vans</a></li>
                    </ul>
                </section>
                <section class="directorylist">
                    <div><i class="fa fa-home"></i><span class="directorytitle">Fore Rent</span></div>
                    <ul class="list">
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Apartments</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Commercial Lease</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Condos For Rent</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Houses For Rent</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Housing Wanted</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Mobile Homes For Rent</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Roommates</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Townhomes For Rent</a></li>
                    </ul>
                </section>
                <section class="directorylist">
                    <div><i class="fa fa-twitter"></i><span class="directorytitle">Pets</span></div>
                    <ul class="list">
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Birds</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Cats</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Dogs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Fish &amp; Reptile Pets</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Free Pets to Good Home</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Horses</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Livestock</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Other Pets</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Pet Services &amp; Stores</a></li>
                    </ul>
                </section>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <section class="directorylist">
                    <div><i class="fa fa-thumbs-o-up"></i><span class="directorytitle">Sevices</span></div>
                    <ul class="list">
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Automotive Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Beauty &amp; Salon Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Caregivers &amp; Baby Sitting</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Cleaning Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Construction &amp; Remodeling</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Financial Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Health &amp; Wellness</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Home Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Insurance</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Lawn &amp; Garden Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Training &amp; Education Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Marketing Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Health &amp; Wellness</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Moving &amp; Storage</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Office Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Real Estate Services</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Web Design &amp; Tech</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Weddings &amp; Photography </a></li>
                    </ul>
                </section>
                <section class="directorylist">
                    <div><i class="fa fa-user"></i><span class="directorytitle">Personal</span></div>
                    <ul class="list">
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html"> Casual Encounters</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Men Seeking Men</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Men Seeking Women</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Missed Connections</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Women Seeking Men</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Women Seeking Women</a></li>
                    </ul>
                </section>
                <section class="directorylist">  </section>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <section class="directorylist">
                    <div><i class="fa fa-users"></i><span class="directorytitle">Community</span></div>
                    <ul class="list">
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Announcements</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Carpool</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Churches</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Free Stuff</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Garage Sales</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">General Entertainment</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Items Wanted</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Lost &amp; Found</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Musicians &amp; Bands</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Volunteers</a></li>
                    </ul>
                </section>
                <section class="directorylist">
                    <div><i class="fa fa-suitcase"></i><span class="directorytitle">Jobs</span></div>
                    <ul class="list">
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html"> Accounting &amp; Bookkeeping Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Business Opportunities</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Cleaning Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Construction Work</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Creative Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Educational Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Financial &amp; Real Estate Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">IT Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Labor Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Legal Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Management Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Marketing Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Medical Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Office Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Other Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">People Seeking Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Restaurant Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Retail Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Sales Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Science &amp; Engineering Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Security &amp; Safety Jobs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Skilled Trade Jobs</a></li>
                    </ul>
                </section>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <section class="directorylist ">
                    <div><i class="fa fa-dollar"></i><span class="directorytitle">Items for Sale</span></div>
                    <ul class="list">
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Art &amp; Crafts</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Automotive Items &amp; Parts</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Bicycles</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Books &amp; Magazines</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Clothing &amp; Apparel</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Computers &amp; Electronics</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Farm &amp; Ranch</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Free Stuff</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Games</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Health &amp; Beauty Items</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Heavy Equipment</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Hobbies</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Household &amp; Furniture</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Jewelry</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Kids Stuff</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Lawn &amp; Garden</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Miscellaneous Items</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Movies &amp; DVDs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Music &amp; CDs</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Musical Instruments</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Office &amp; Business</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Sports Equipment</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Tickets</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Tools</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Art &amp; Crafts</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Automotive Items &amp; Parts</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Bicycles</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Books &amp; Magazines</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Clothing &amp; Apparel</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Computers &amp; Electronics</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Farm &amp; Ranch</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Free Stuff</a></li>
                        <li><a href="http://www.pxcreate.com/bootstrap/classic/listing.html">Games</a></li>
                    </ul>
                </section>
            </li>
        </ul>
    </div>
</div>