<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <!--Filter-->
    <div class="filter sidemodule">
        <h2 class="heading5"><span class="maintext">Filter Search</span></h2>
        <h5 class="subheading">Price</h5>
        <ul class="checkprice">
            <li>
                <div class="checkbox">
                    <label>
                        <md-checkbox taria-label="$999 and Below">
                        $999 and Below </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <md-checkbox taria-label="$1000 - $1999">
                        $1000 - $1999 </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <md-checkbox taria-label="$2000 - $3999">
                        $2000 - $3999 </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <md-checkbox taria-label="$4000 and above">
                        $4000 and above </label>
                </div>
            </li>
        </ul>


    <!--Caegogries-->
    <div class="sidemodule">
        <h2 class="heading5"><span class="maintext"> Refine Category</span></h2>
        <list ng-repeat="cat in categories", ng-attr-label="{{cat.name}}" label="cat.name">
            <option ng-repeat="subcat in cat.subcats" ,  value="{{cat.name}}-{{subcat}}">{{subcat | trust}}</option>
        </list>

    </div>
    </div>
