
<div class="row">
<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
    <h5 class="heading5">Login</h5>
    <div class="loginbox">
        <form class="form-vertical" ng-submit="authenticate()" name="loginForm">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Email Address:</label>
                    <div class="controls">
                        <input type="text" class="span3" id="email" ng-model="user.username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Password:</label>
                    <div class="controls">
                        <input type="password" class="span3" id="password" ng-model="user.password">
                    </div>
                </div>
                <a class="orange">Forgot Password?</a> <br>
                <br>
                <button type="submit">Login</button>
            </fieldset>
        </form>
    </div>
</div>
    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
        Authenticate with:
        <a href="/auth/callback?client_name=TwitterClient&amp;needs_client_redirection=true" class="btn btn-primary">
             Twitter <i class="fa fa-twitter"></i>
        </a>
        <a href="/auth/callback?client_name=FacebookClient&amp;needs_client_redirection=true" class="btn btn-primary">
            Facebook <i class="fa fa-facebook"></i>
        </a>
        <br/>
        {{message}}
    </div>
</div>