
<div class="row">
<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
    <h5 class="heading5">Login</h5>
    <div class="loginbox">
        <form class="form-vertical" ng-submit="authenticate()" name="loginForm">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Email Address:</label>
                    <div class="controls">
                        <input type="text" class="span3" id="email" ng-model="user.email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Password:</label>
                    <div class="controls">
                        <input type="password" class="span3" id="password" ng-model="user.password">
                    </div>
                </div>
                <a class="orange">Forgot Password?</a> <br>
                <br>
                <button type="submit">Login</button>
            </fieldset>
        </form>
    </div>
</div>
</div>