<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mt40column">
        <h2 class="heading5"><span class="maintext"> Dashboard</span></h2>
        <ul class="state">
          <li><i class="fa  fa-tag"></i> <br>
            <div class="text">Your Credits : <span class="orange">500</span></div>
          </li>
          <li><i class="fa fa-file-text-o"></i> <br>
            <div class="text">Published : <span class="orange">10</span></div>
          </li>
          <li><i class="fa fa-eye"></i> <br>
            <div class="text">Views this week : <span class="orange">55</span></div>
          </li>
          <li><i class="fa fa-thumbs-o-up"></i> <br>
            <div class="text">Total Ad views : <span class="orange">258</span></div>
          </li>
        </ul>
        <div class="col-md-6 mt40">
          <div class="sparkchart">
            <h4 class="orange">16.8% more</h4>
            <p>Monthly visitor statistics</p>
            <span class="inlinesparkline"><canvas width="352" height="200" style="display: inline-block; width: 352px; height: 200px; vertical-align: top;"></canvas></span> </div>
        </div>
        <div class="col-md-6 mt40">
          <div class="sparkchart">
            <h4 class="orange"> 8 Sales</h4>
            <p>Avg. Sales per day</p>
            <span class="monthly-sales"><canvas width="322" height="200" style="display: inline-block; width: 322px; height: 200px; vertical-align: top;"></canvas></span> </div>
        </div>
</div>