<!--User data-->

<div>
    <md-card>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <div class="md-title">OVERVIEW</div>
                <span flex></span>
                <md-button class="md-icon-button" ng-if="viewMode" ng-click="switchMode()">
                    <md-tooltip>
                        Edit
                    </md-tooltip>
                    <md-icon>edit</md-icon>
                </md-button>



                <md-button class="md-icon-button" ng-if="!viewMode" ng-click="switchMode(); saveChanges()">
                    <md-tooltip>
                        Save
                    </md-tooltip>
                    <md-icon>Save</md-icon>

                </md-button>
                <!--<md-menu>-->
                    <!--<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">-->
                        <!--<a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>-->
                        <!--<md-tooltip>-->
                            <!--More-->
                        <!--</md-tooltip>-->
                        <!--<md-icon>More</md-icon>-->
                    <!--</md-button>-->
                    <!--<md-menu-content>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="deleteUser()">-->
                                <!--Delete-->
                            <!--</md-button>-->
                            <!--<md-icon>Delete</md-icon>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="resetPassword()">-->

                                <!--Reset-->
                            <!--</md-button>-->
                            <!--<md-icon>Reset</md-icon>-->
                        <!--</md-menu-item>-->
                    <!--</md-menu-content>-->
                <!--</md-menu>-->
            </div>
        </md-toolbar>
        <md-card-content layout="column" layout-gt-md="row">
            <div class="user" layout="column" layout-md="row">
                <img src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png" alt="user avatar" class="user-avatar" />

                <form name="userBasicInfoForm" layout="column" flex>
                    <md-input-container class="user-input-container">
                        <label>Name</label>
                        <textarea name="userName" required class="user-name" ng-model="user.name" ng-disabled="viewMode" flex></textarea>
                        <div ng-messages="userBasicInfoForm.userName.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="user-input-container">
                        <label>User Display Name</label>
                        <input name="usernickname" required class="user-nickname" ng-model="user.nickname" ng-disabled="viewMode"></input>
                        <div ng-messages="userBasicInfoForm.usernickname.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
            <form name="userDetailsForm" flex>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Address</label>
                        <input required name="useraddress" ng-model="user.address" ng-disabled="viewMode"></input>
                        <div ng-messages="userDetailsForm.useraddress.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Location</label>
                        <textarea name="userLocation" required ng-model="user.location" ng-disabled="viewMode"></textarea>
                        <div ng-messages="userDetailsForm.userLocation.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Work Phone</label>
                        <input type="tel" name="userWorkPhone" required ng-model="user.workPhone" ng-disabled="viewMode"></input>
                        <div ng-messages="userDetailsForm.userWorkPhone.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Mobile Phone</label>
                        <input type="tel" ng-model="user.mobilePhone" ng-disabled="viewMode"></input>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Main Contact Email</label>
                        <input type="email" name="userAlias" ng-model="user.alias" ng-disabled="viewMode"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Other Email</label>
                        <input type="text" name="userOtherInfo" ng-model="user.otherInfo" ng-disabled="viewMode"></input>

                    </md-input-container>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>


<!--Other apps-->
<form class="form-horizontal">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Twitter">TwitterHandle</label>
            <div class="col-md-4">
                <input id="Twitter" name="Twitter" type="text" placeholder="twitter handle" class="form-control input-md">
                <span class="help-block">help</span>
            </div>
        </div>
    </fieldset>
</form>
