<p>This is the partial for view 1.</p>

<div class="">
    <h2 class="heading5"><span class="maintext"> Post An Ad</span></h2>
    <form class="form-horizontal mt20">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label">Title:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Category:</label>
                <div class="col-sm-6">
                    <select name="category" class="form-control" id="category">
                        <option value="">Choose a category</option>
                        <optgroup label="Vehicle">
                            <option value="2">Aircraft</option>
                            <option value="3">Automotive Items &amp; Parts</option>
                            <option value="4">Boats &amp; Watercraft</option>
                            <option value="5">Cars</option>
                            <option value="6">Classic Cars</option>
                            <option value="7">Commercial Trucks &amp; Tractor Trailers</option>
                            <option value="8">Off Road Vehicles</option>
                            <option value="9">RV &amp; Motorhomes</option>
                            <option value="10">SUVs</option>
                            <option value="11">Utility &amp; Work Trailers</option>
                            <option value="12">Vans</option>
                        </optgroup>
                        <optgroup label="Sevices">
                            <option value="2">Automotive Services</option>
                            <option value="3">Beauty &amp; Salon Services</option>
                            <option value="4">Caregivers &amp; Baby Sitting</option>
                            <option value="5">Cleaning Services</option>
                            <option value="6">Construction &amp; Remodeling</option>
                            <option value="7">Financial Services</option>
                            <option value="8">Health &amp; Wellness</option>
                            <option value="9">Home Services</option>
                            <option value="10">Insurance</option>
                            <option value="11">Office Services</option>
                            <option value="12">Real Estate Services</option>
                        </optgroup>
                        <optgroup label="Pets">
                            <option value="2">Birds</option>
                            <option value="3">Cats</option>
                            <option value="4">Dogs</option>
                            <option value="5">Fish &amp; Reptile Pets</option>
                            <option value="6">Free Pets to Good Home</option>
                            <option value="7">Horses</option>
                            <option value="8">Pet Supplies</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-6">
                    <textarea rows="6" class="form-control col-sm-6"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Keywords</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Keywords">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Adress</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Address">
                    <input type="text" class="form-control  mt10" placeholder="State">
                    <input type="text" class="form-control mt10" placeholder="Country">
                    <input type="text" class="form-control mt10" placeholder="Post Code">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Upload photos</label>
                <div class="col-sm-6">
                    <input type="file" class="form-control">
                    <input type="file" class="form-control mt10">
                    <input type="file" class="form-control mt10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Price</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Price">
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        I agree to the terms and conditions </label>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10 mt20">
                <input type="submit" class="btn btn-orange" value="Post An Ad">
            </div>
        </fieldset>
    </form>
</div>