@(user: model.User)
<!doctype html>


<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta username="viewport" content="width=device-width, initial-scale=1.0">
        <meta username="description" content="Responsive, Bootstrap, Html5, Css3, Blog, Classified, Ads, Simple, Clean ">

        <title>Addhub</title>

        <style type="text/css">.gm-style.gm-style-mtc label,.gm-style.gm-style-mtc div { font-weight : 400 }</style>
        <style type="text/css">.gm-style.gm-style-cc span,.gm-style.gm-style-cc a,.gm-style.gm-style-mtc div { font-size : 10px }</style>
        <style type="text/css">@@media print {.gm-style.gmnoprint,.gmnoprint { display : none } } @@media screen {.gm-style.gmnoscreen,.gmnoscreen { display : none } }</style>
        <style type="text/css">.gm-style { font-family : Roboto, Arial, sans-serif ; font-size : 11 px ; font-weight : 400 ; text-decoration : none }.gm-style img { max-width : none }</style>


        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">

            <!-- Bootstrap -->
        <link  rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")' , media="screen">
        <!-- Main Css -->
        <link rel="stylesheet" href=@routes.Assets.versioned("css/app.css") media="screen" id="color">
        <link  rel="stylesheet" href=@routes.Assets.versioned("css/colors.css") >
            <!-- Font Icons -->
        <link href=@routes.Assets.versioned("css/font-awesome.css") rel="stylesheet" media="screen">

            <!-- tags-->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.bootstrap.min.css">   -->

        <script data-main="@routes.Assets.versioned("app/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>

<body style="">

        <!-- Header Start -->
    <header id="header">
        <div class="headerdetails">
            <div class="container">
                <div class="col-md-2 col-md-offset-1"><a class="logo pull-left" href="#/index"><img title="Classifieds" alt="Classifieds" src="img/add-hub-logo.jpg"></a></div>

                <div id="mainmenu" class="col=md-10 pull-right">
                        <!-- Navigation -->
                    <nav class="subnav" ng-controller="HomeController">
                        <div class="menurelative"> <a class="btn btn-orange mainmenumobile">Menu</a>
                            <ul class="nav-pills mainmenucontain">
                                <li> <a class="active home submenu2" href="#/home">Home</a></li>
                                <li> <a class="submenu2" href="#/list">Listing</a></li>
                                <li>
                                    <a class="submenu2">My Account

                                            <span ng-show="currentUser" style="
                                            font-size: x-small;
                                            ">&lt;Hi {{currentUser.displayName}}
                                            <img ng-src="{{currentUser.pictureUrl}}">
                                            </span>


                                    </a>
                                    <div class="submenu">
                                        <ul>
                                                <li ng-hide="currentUser"> <a class="" href="/#/login">Login</a> </li>
                                                <li ng-hide="currentUser"> <a class="" href="/#/register">Register</a> </li>
                                                <li ng-show="currentUser"> <a class="" href="/auth/logout">Logout</a> </li>
                                                <li ng-show="currentUser"> <a class="" href="#/myAccount/dashboard/{{currentUser.username}}"> Dashboard</a> </li>
                                                <li ng-show="currentUser"> <a class="" href="#/myAccount/profile/{{currentUser.username}}"> Profile</a> </li>
                                                <li> <a class="" href="/#/postAd">Post An Ad</a> </li>

                                        </ul>
                                    </div>
                                </li>
                                <li> <a class="" href="contact.html">Contact</a> </li>

                            </ul></div>
                    </nav>
                    <div class="mt10 pull-right">
                            <!--Social -->
                        <div class="socialtop pull-right">
                            <ul class="pull-right">
                                <li><a class="tooltip-test" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="tooltip-test" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="tooltip-test" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="tooltip-test" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="tooltip-test" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a class="tooltip-test" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                                <li><a class="tooltip-test" data-original-title="Flickr"><i class="fa fa-flickr"></i></a></li>
                                <li><a class="tooltip-test" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                            <!--Top Search -->

                        <div class="email"> <i class="fa fa-envelope-o"></i>
                            Email : <a href="contactus@@addhub.net" class="black">contactus@@addhub.net</a></div>
                        <div class="call"><i class="fa fa-phone"></i>
                            Call Us : <span class="black">+ 99 123 456 7890 </span></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <!-- Header End -->
    <div id="maincontainer">
        <div ng-view></div>


            <!-- Footer -->
        <footer id="footer">
            <section id="quicklink">
                <div class="container">
                    <div class="row">
                        <ul class="quicklinks">
                            <li> <a class="active home" href="#/home">Home</a> </li>
                            <li> <a class="" href="#/list">Listing</a> </li>
                            <li> <a class="" href="#/login">Login</a> </li>
                            <li> <a class="" href="#/register">Register</a> </li>
                            <li> <a class="" href="#/account">My Account</a> </li>
                            <li> <a class="" href="#/contact">Contact</a> </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="copyrightbottom">
                <div class="container">
                    <div class="row">
                        <div class="pull-left"> Copyright © 2015. Classic. All rights reserved </div>
                        <div class="pull-right"> Developed by Addhub</div>
                    </div>
                </div>
            </section>
        </footer>
            <!-- Got to top -->
        <a id="gotop" style="display : none ;"><i class="fa fa-arrow-circle-up"></i></a>
    </div>


</body></html>